<div class="example-container">
  <h2></h2>
<div class="button">Previous Team</div>
<h2>My Team</h2>
<div
    cdkDropList
    #myteamList="cdkDropList"
    [cdkDropListData]="myteam"
    [cdkDropListConnectedTo]="[playersList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of myteam" cdkDrag>{{item.name}}</div>
  </div>
</div>

<div class="example-container">
  <h2>Players</h2>

  <div
    cdkDropList
    #playersList="cdkDropList"
    [cdkDropListData]="players"
    [cdkDropListConnectedTo]="[myteamList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of players" cdkDrag>{{item.name}}</div>
  </div>
</div>


<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->